.auth-container {
  width: 350px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.auth-container input {
  margin: 10px 0;
  padding: 12px;
}

.auth-container button {
  padding: 12px;
  background: #2d89ff;
  color: white;
  border: none;
}